<h1>Details d'élève</h1>
<% flash.each do |key, value| %>
    <%= content_tag(:div,value,class:key) %>
    <br>
<% end %>
<table>
    <tr> 
        <th> NOM </th>
        <td> <%= @student.first_name %> </td>
    </tr>
    <tr> 
        <th> PRENOM </th>
        <td> <%= @student.last_name %> </td>
    </tr>
    <tr> 
        <th> MATRICULE </th>
        <td> <%= @student.matricule %> </td>
    </tr>
    <tr> 
        <th> SEXE </th>
        <td> <%= @student.sexe %> </td>
    </tr>
    <tr> 
        <th> DATE DE NAISSANCE </th>
        <td> <%= @student.birth_date %> </td>
    </tr>
   
</table>
<br>
<%= link_to "Back", students_path %>
<%= link_to "Edit", edit_student_path %>